.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.button-container button {
background-color: #007bff;
color: #fff;
border: none;
padding: 8px 15px;
border-radius: 3px;
margin: 0 5px;
cursor: pointer;
}

.button-container button:hover {
background-color: #0056b3;
}

.active {
background-color: #b32400;
}
  